.DS_Store
.venv
data
__pycache__
gammelt
tanker.md
evals
paper.md
optimal_model.md
comparison.png
.gitignore
comparison.py
*.png
codemap.md
/timelines
timing_results_old.txt
timing_results.txt
log/profile/mac.students.clients.local_81638.1778739172905493000.pt.trace.json
